<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/assets/main.css') }}" />
    <title>Home Page - MovieWeb App</title>
</head>
<body style="background-image: url('../static/images/background_home.jpg'); background-size: cover; background-position: center;">
    <main>
        <div class="container">
            <h1 class="page-title">Welcome to MovieWeb App</h1>
            <button class="main-button" onclick="location.href='/users'">Go to Users</button>
        </div>
    </main>
</body>
</html>
