{% extends "base.html" %}

{% block title %}Recommend Movie - MovieWeb App{% endblock %}

{% block content %}
    <div class="container">
        <div class="movie-details">
            <div class="movie-poster">
                <img src="{{ movie['Poster'] }}" alt="{{ movie['Title'] }} Poster">
            </div>
            <div class="movie-info">
                <h1>{{ movie['Title'] }}</h1>
                <p class="movie-subinfo"><strong>Director:</strong> {{ movie['Director'] }}</p>
                <p class="movie-subinfo"><strong>Year:</strong> {{ movie['Year'] }}</p>
                <p class="movie-subinfo"><strong>Rating:</strong> {{ movie['imdbRating'] }}</p>
                <p class="movie-description">{{ movie.get('Plot', '') }}</p>
                <form action="{{ url_for('add_movies', user_id=user.user_id) }}" method="post">
                    <input type="hidden" name="name" value="{{ movie['Title'] }}">
                    <button class="btn btn-success mb-2" type="submit">Add Movie</button>
                    <div class="movie-actions">
                        <a class="btn btn-primary text-decoration-none" href="/users/{{ user.user_id }}/recommend_movie">Recommend Another Movie</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
